<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>LisaBB Admin</title>
  <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/admin/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/assets/images/logo/logo-xl.png}" />
  <link rel="stylesheet" th:href="@{/assets/admin/css/toastStyle.css}" />
</head>

<body>
  <div class="container-scroller">
  <div id="toast" class="hidden">
      <div id="toast-list" class="toast-list"></div>
    </div>
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/admin/dashboard"><img th:src="@{/assets/images/logo/logo-dark.png}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img th:src="@{/assets/images/logo/logo-dark.png}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img th:src="@{/assets/admin/images/faces/face28.jpg}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Tổng quan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Quản lý đơn đặt hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/foods">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Quản lý món ăn</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cates">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Quản lý danh mục</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupons">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Quản lý mã giảm</span>
            </a>
          </li>
        </ul>
      </nav>
      
      
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
          	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
			  Thêm món mới
			</button>
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h4 class="card-title">Thêm món ăn</h4>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
		                  <form class="forms-sample" th:action="@{/admin/add-food}" enctype="multipart/form-data" method="POST" th:object="${newFood}">
						    <div class="form-group">
						        <label for="exampleInputName1">Tên món </label>
						        <input type="text" class="form-control" id="exampleInputName1" placeholder="Tên món " th:field="*{name}" required/>
						    </div>
						    <div class="form-group">
						        <label for="exampleTextarea1">Mô tả </label>
						        <textarea class="form-control" id="exampleTextarea1" rows="4" th:field="*{description}" placeholder="Mô tả" required></textarea>
						    </div>
						    <div class="form-group">
							    <label for="exampleInputCity1">Giá</label>
							    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Giá" th:field="*{price}" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required/>
							</div>
						    <div class="form-group">
							    <label>Danh mục</label>
							    <div th:each="cate : ${cates}" style="margin-left: 30px;">
							        <div class="form-check">
							            <input type="radio" class="form-check-input" th:id="'category_' + ${cate.id}" th:name="categories" th:value="${cate.id}" onclick="show();" required/>
							            <label class="form-check-label" th:for="'category_' + ${cate.id}" th:text="${cate.cateName}"></label>
							        </div>
							    </div>
							</div>

							
						    <div class="form-group">
						        <label>Hình ảnh món ăn </label>
						        <div class="input-group col-xs-12">
						            <input type="file" name="image" class="form-control file-upload-info" placeholder="Hình ảnh món ăn" multiple th:field="*{image}" required/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="exampleSelectGender">Hành động</label>
						        <select class="form-control" id="exampleSelectGender" th:field="*{status}" required>
						        	<option value="0">Hiện </option>
						            <option value="1">Ẩn </option>
						        </select>
						    </div>
						    <button type="submit" class="btn btn-primary mr-2">Thêm món </button>
						</form>
				      </div>
				    </div>
				  </div>
				</div>
          	<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Danh sách món ăn</h4>
                  <div class="form-group">
		                <input type="text" id="searchInput" class="form-control" placeholder="Tìm theo tên món ăn ...">
		            </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Tên món </th>
                          <th>Mô tả </th>
                          <th>Giá </th>
                          <th>Danh mục </th>
                          <th>Hành động</th>
                          <th>Chức năng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="food : ${foodPage.content}">
                          <td><p th:text="${food.id}"></p></td>
                          <td><p th:text="${food.name}"></p></td>
                          <td><p style="text-wrap: wrap" th:text="${food.description}"></p></td>
                          <td><p th:text="${#numbers.formatDecimal(food.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VNĐ'"></p></td>
                          <td><p th:text="${food.categories}"></p></td>
                          <td><p th:class="${food.status eq 0 ? 'btn btn-danger' : 'btn btn-success'}"><a style="color: white;text-decoration: none;" th:href="@{/admin/toggle-food/{foodId}(foodId=${food.id})}" th:text="${food.status eq 0 ? 'Ẩn' : 'Hiện'}"></a></p></td>
                          <td><p id="update" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter2"
                          	th:attr="data-food-id=${food.id}, data-food-name=${food.name}, data-food-price=${food.price}, data-food-categories=${food.categories}, data-food-image=${food.image}, data-food-status=${food.status}, data-food-description=${food.description}" 
                           	onclick="editFood(this.getAttribute('data-food-id'),
                           	this.getAttribute('data-food-name'),
                           	this.getAttribute('data-food-description'),
                           	this.getAttribute('data-food-price'),
                           	this.getAttribute('data-food-categories'),
                           	this.getAttribute('data-food-image'),
                           	this.getAttribute('data-food-status'));"
                           >
                           Cập nhật</p></td>
                          
                          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật món ăn</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        <form class="forms-sample" th:action="@{/admin/edit-food}" enctype="multipart/form-data" method="POST">
							        	<div class="form-group">
									        <label for="id">ID</label>
									        <input type="text" class="form-control" name="id" id="id" readonly required/>
									    </div>
									    <div class="form-group">
									        <label for="exampleInputName1">Tên món </label>
									        <input type="text" class="form-control" name="name" id="name" required/>
									    </div>
									    <div class="form-group">
									        <label for="exampleTextarea1">Mô tả </label>
									        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
									    </div>
									    <div class="form-group">
									        <label for="exampleInputCity1">Giá </label>
									        <input type="number" min="1" class="form-control" name="price" id="price" required/>
									    </div>
									    <div class="form-group">
										    <label>Danh mục</label>
										    <div th:each="cate : ${cates}" style="margin-left: 30px;">
										        <div class="form-check">
										            <input type="radio" name="categories" class="form-check-input" th:id="'category_' + ${cate.id}" th:name="categories" th:value="${cate.id}" required />
										            <label class="form-check-label" th:for="'category_' + ${cate.id}" th:text="${cate.cateName}"></label>
										        </div>
										    </div>
										</div>
									    <div class="form-group">
									        <label>Hình ảnh món ăn </label>
									        <div class="input-group col-xs-12">
									            <input type="file" name="image" id="image" class="form-control file-upload-info" placeholder="Hình ảnh món ăn"/>
									        </div>
									    </div>
									    <div class="form-group">
									        <label for="exampleSelectGender">Trạng thái </label>
									        <select class="form-control" id="status" name="status" required>
									        	<option value="0">Hiện </option>
									            <option value="1">Ẩn </option>
									        </select>
									    </div>
									    <button type="submit" class="btn btn-primary mr-2">Cập nhật</button>
									</form>
							      </div>
							    </div>
							  </div>
							</div>
							                          
                        </tr>
                      </tbody>
                      
                    </table>
                    
                    <div th:if="${foodPage.totalPages > 1}" style="display: flex; justify-content: space-around">
					    <ul class="pagination">
					        <li th:class="${foodPage.first ? 'page-item disabled' : 'page-item'}">
					            <a th:href="@{/admin/foods(page=${foodPage.number - 1})}" class="page-link">Previous</a>
					        </li>
					        <li th:class="${foodPage.last ? 'page-item disabled' : 'page-item'}">
					            <a th:href="@{/admin/foods(page=${foodPage.number + 1})}" class="page-link">Next</a>
					        </li>
					    </ul>
					</div>

                  </div>
                </div>
              </div>
            </div>
          
          
            
            
            
            
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script th:src="@{/assets/admin/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script th:src="@{/assets/admin/vendors/chart.js/Chart.min.js}"></script>
  <script th:src="@{/assets/admin/vendors/datatables.net/jquery.dataTables.js}"></script>
  <script th:src="@{/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
  <script th:src="@{/assets/admin/js/dataTables.select.min.js}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
<script>
    $(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            var searchText = $(this).val().toLowerCase();
            $('table tbody tr').each(function() {
                var foodName = $(this).find('td:nth-child(2)').text().toLowerCase();
                if (foodName.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
  <script th:src="@{/assets/admin/js/off-canvas.js}"></script>
  <script th:src="@{/assets/admin/js/hoverable-collapse.js}"></script>
  <script th:src="@{/assets/admin/js/template.js}"></script>
  <script th:src="@{/assets/admin/js/settings.js}"></script>
  <script th:src="@{/assets/admin/js/todolist.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/assets/admin/js/dashboard.js}"></script>
  <script th:src="@{/assets/admin/js/Chart.roundedBarCharts.js}"></script>
  <script th:src="@{/assets/admin/js/script-admin-side.js}"></script>
  <!-- End custom js for this page-->
</body>

</html>
