<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/assets/admin/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/assets/images/logo/logo-xl.png}" />
  <link rel="stylesheet" th:href="@{/assets/admin/css/toastStyle.css}" />
</head>

<body>

<div class="container-scroller">
  <div id="toast" class="hidden">
    <div id="toast-list" class="toast-list"></div>
  </div>
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="/admin/dashboard"><img th:src="@{/assets/images/logo/logo-dark.png}" class="mr-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img th:src="@{/assets/images/logo/logo-dark.png}" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="icon-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Just now
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="ti-settings mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Settings</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Private message
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">New user registration</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img th:src="@{/assets/admin/images/faces/face28.jpg}" alt="profile"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item" href="/logout">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_settings-panel.html -->

    <!-- partial -->
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tổng quan</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý đơn đặt hàng</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/foods">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý món ăn</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/cates">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý danh mục</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/coupons">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý mã giảm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý agency</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/commissions">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Danh sách commission</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/stocks">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Quản lý kho</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Danh sách đơn đặt hàng</h4>

                <div class="form-group row">
                  <div class="col-md-6">
                    <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm theo tên người nhận...">
                  </div>
                  <div class="col-md-6">
                    <select id="type" class="form-control" onchange="changeFetchType()">
                      <option value="Staff">Staff</option>
                      <option value="Customer">Customer</option>
                    </select>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Thời gian đặt hàng</th>
                      <th>Thông tin người đặt</th>
                      <th>Tổng tiền</th>
                      <th>Chi tiết</th>
                      <th>Trạng thái</th>
                      <th>Thanh toán</th>
                      <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderPage}">
                      <td><p th:text="${#dates.format(order.time*1000, 'HH:mm:ss dd/MM/yyyy')}"></p></td>
                      <td>
                        <p>Tên: <span th:text="${order.name}"></span></p>
                        <p>SĐT: <span th:text="${order.phone}"></span></p>
                        <p>Địa chỉ: <span th:text="${order.address}"></span></p>
                      </td>
                      <td><p th:text="${#numbers.formatDecimal(order.total, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VNĐ'"></p></td>
                      <td>
                        <p data-toggle="modal" data-target="#exampleModal" class="btn btn-info"
                           th:attr="data-order-id=${order.id}, data-order-message=${order.message}, data-staff=${order.staff}"
                           onclick="showDetail(this.getAttribute('data-order-id'), this.getAttribute('data-order-message'), this.getAttribute('data-staff'))">
                          Chi tiết
                        </p>
                      </td>
                      <td>
                        <p th:class="${order.status == 0 ? 'btn btn-info' :
                                         order.status == 1 ? 'btn btn-warning' :
                                         order.status == 2 ? 'btn btn-success' :
                                         order.status == 3 ? 'btn btn-danger' : 'btn btn-default'}"
                           th:text="${order.status == 0 ? 'Đơn mới' :
                                        order.status == 1 ? 'Đang giao' :
                                        order.status == 2 ? 'Hoàn thành' : 'Đã huỷ'}">
                        </p>
                      </td>
                      <td>
                        <p th:class="${order.isPaid == false ? 'btn btn-warning' : 'btn btn-success'}"
                           th:text="${order.isPaid == false ? 'Chưa thanh toán' : 'Đã thanh toán'}">
                        </p>
                      </td>
                      <td>
                        <div class="row-container">
                          <p class="btn btn-success">
                            <a style="color: white; text-decoration: none;"
                               th:href="@{/admin/toggle-order/{orderId}(orderId=${order.id}, page=${currentPage}, type=${type})}">
                              Chuyển TT
                            </a>
                          </p>
                          <p class="btn btn-danger">
                            <a style="color: white;text-decoration: none;"
                               th:href="@{/admin/cancel-order/{orderId}(orderId=${order.id}, page=${currentPage}, type=${type})}">
                              Huỷ ĐH
                            </a>
                          </p>
                          <p class="btn btn-info" th:attr="onclick=|invoice(${order.id})|">Invoice</p>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div th:if="${orderPage.totalPages > 1}" style="display: flex; justify-content: center; align-items: center;">
                    <ul class="pagination">
                      <!-- Nút First -->
                      <li th:class="${orderPage.number == 0 ? 'page-item disabled' : 'page-item'}">
                        <a th:href="@{/admin/orders(page=0, type=${type})}" class="page-link">First</a>
                      </li>
                      <!-- Nút Prev -->
                      <li th:class="${orderPage.first ? 'page-item disabled' : 'page-item'}">
                        <a th:href="@{/admin/orders(page=${orderPage.number - 1}, type=${type})}" class="page-link">Prev</a>
                      </li>

                      <li th:each="i : ${#numbers.sequence(
                          orderPage.number - 2 > 0 ? orderPage.number - 2 : 0,
                          orderPage.number + 2 < orderPage.totalPages ? orderPage.number + 2 : orderPage.totalPages - 1
                        )}"
                          th:class="${i == orderPage.number ? 'page-item active' : 'page-item'}">
                        <a th:href="@{/admin/orders(page=${i}, type=${type})}" class="page-link" th:text="${i + 1}"></a>
                      </li>

                      <!-- Nút Next -->
                      <li th:class="${orderPage.last ? 'page-item disabled' : 'page-item'}">
                        <a th:href="@{/admin/orders(page=${orderPage.number + 1}, type=${type})}" class="page-link">Next</a>
                      </li>
                      <!-- Nút Last -->
                      <li th:class="${orderPage.number == orderPage.totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                        <a th:href="@{/admin/orders(page=${orderPage.totalPages - 1}, type=${type})}" class="page-link">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal chi tiết đơn hàng -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Nội dung chi tiết đơn hàng sẽ được thêm bằng JavaScript -->
          </div>
          <div class="modal-footer">
            <!-- Thông tin bổ sung sẽ được thêm bằng JavaScript -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/assets/admin/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/assets/admin/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/assets/admin/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<script th:src="@{/assets/admin/js/dataTables.select.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/admin/js/off-canvas.js}"></script>
<script th:src="@{/assets/admin/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/admin/js/template.js}"></script>
<script th:src="@{/assets/admin/js/settings.js}"></script>
<script th:src="@{/assets/admin/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/assets/admin/js/dashboard.js}"></script>
<script th:src="@{/assets/admin/js/Chart.roundedBarCharts.js}"></script>
<script th:src="@{/assets/admin/js/script-admin-side.js}"></script>

<script>
  // Khởi tạo giá trị select khi trang load
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type') || 'Staff';
    document.getElementById('type').value = type;
  });

  // Xử lý thay đổi kiểu fetch dữ liệu
  function changeFetchType() {
    const type = document.getElementById('type').value;
    window.location.href = `/admin/orders?type=${type}`;
  }

  // Tìm kiếm đơn hàng
  $(document).ready(function() {
    $('#searchInput').on('keyup', function() {
      var searchText = $(this).val().toLowerCase();
      $('table tbody tr').each(function() {
        var orderInfoName = $(this).find('td:nth-child(2)').text().toLowerCase().trim();
        var orderInfoStatus = $(this).find('td:nth-child(5)').text().toLowerCase().trim();
        if (orderInfoName.indexOf(searchText) === -1 && orderInfoStatus.indexOf(searchText) === -1) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    });
  });

  // Hiển thị chi tiết đơn hàng
  function showDetail(id, message, staff) {
    var modalBody = document.querySelector('.modal-body');
    var modalFooter = document.querySelector('.modal-footer');

    // Xóa tất cả nội dung hiện có trong modal
    modalBody.innerHTML = '';
    modalFooter.innerHTML = '';

    var requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    fetch("/api/v1/auth/order-detail/" + id, requestOptions)
            .then(response => response.json())
            .then(result => {
              modalFooter.innerHTML = '';

              result.forEach(item => {
                var itemDiv = document.createElement('div');
                itemDiv.classList.add('item');

                var itemName = document.createElement('p');
                itemName.textContent = "Tên sản phẩm: " + item.name;

                var itemDescription = document.createElement('p');
                itemDescription.textContent = "Số lượng: " + item.quantity;

                itemDiv.appendChild(itemName);
                itemDiv.appendChild(itemDescription);
                modalBody.appendChild(itemDiv);
              });

              var messageDiv = document.createElement('div');
              messageDiv.classList.add('order-message');
              messageDiv.textContent = `Lời nhắn: ${message}`;
              modalFooter.appendChild(messageDiv);

              var staffDiv = document.createElement('div');
              staffDiv.classList.add('order-message');
              staffDiv.textContent = `Người đặt: ${staff}`;
              modalFooter.appendChild(staffDiv);
            })
            .catch(error => console.log('error', error));
  }

  // Xuất invoice
  const invoice = (orderId) => {
    const requestOptions = {
      method: "GET",
      redirect: "follow"
    };

    fetch(`/api/v1/demo-controller/generate-invoice/${orderId}`, requestOptions)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Error fetching the invoice file");
              }
              return response.blob();
            })
            .then((blob) => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.href = url;
              a.download = `Invoice_Order_${orderId}.pdf`;
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
              document.body.removeChild(a);
            })
            .catch((error) => {
              console.error("Error:", error);
            });
  };
</script>
</body>
</html>